[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "memochange"]
	path = memochange
	url = https://github.com/kaiwenger/memochange
